@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, #F7BD3B, #FDA443);
    padding: 20px;
}


.container-all {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.ctn-form {
    width: 80%;
    padding: 40px;
    background: #ffff;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #F7BD3B;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #333;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: #F7BD3B;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background: #FDA443;
}

.text-footer {
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
}

.text-footer a {
    color: #029EE1;
    font-weight: 500;
}

/* LADO IZQUIERDO */

.ctn-text {
    width: 100%;
    background-image: url(../img/woman-wearing-black-coat-holding-brown-jacket-1.png);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #F7BD3B;
    opacity: 0.2;
}

.title-description {
    position: relative;
    top: 220px;
    color: #F7BD3B;
    font-weight: 300;
    font-size: 30px;
    background: black;
    opacity: 0.7;
    text-align: center;
    width: 300px;
    margin-left: 85px;
}

.title-description span {
 color: #fff;
}

.text-description {
    position: relative;
    top: 230px;
    color: white;
    font-weight: 300;
    font-size: 40px;
    background: black;
    opacity: 0.7;
    text-align: center;
    width: 240px;
    margin-left: 110px;
}

.text-body {
    position: relative;
    top: 250px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    width: 280px;
    margin-left: 90px;
}


.title-description2 {
    position: relative;
    top: 150px;
    color: #F7BD3B;
    font-weight: 300;
    font-size: 30px;
    background: black;
    opacity: 0.7;
    text-align: center;
    width: 300px;
    margin-left: 85px;
}

.title-description2 span {
 color: #fff;
}

.text-description2 {
    position: relative;
    top: 160px;
    color: white;
    font-weight: 300;
    font-size: 40px;
    background: black;
    opacity: 0.7;
    text-align: center;
    width: 240px;
    margin-left: 110px;
}

.text-body2 {
    position: relative;
    top: 180px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    width: 280px;
    margin-left: 90px;
}

/* TEXTO DE ERROR */

.msg-error {
    color: red;
    display: block;
    margin-top: 10px;
}

/* RESPONSIVE */


@media screen and (max-width: 800px) {

    .ctn-text {
        display: none;
    }

    .ctn-form {
        margin: auto;
        width: 100%;
        background: white;
    }
}

@media screen and (max-width: 500px) {

    .title-welcome {
        font-weight: 400;
        font-size: 30px;
        margin-top: 20px;
    }

}